[Desktop Entry]
Categories=System;SystemSetup;
Comment[zh_CN]=选择字体并设置字体效果
Comment=Configure font family and render effects
Exec=fontweak
GenericName[zh_CN]=字体配置
GenericName=Font Configuration
Icon=fontweak
MimeType=
Name[zh_CN]=Fontweak
Name=Fontweak
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
